@{
    ViewBag.Title = "Home Page";
}

@*<script type="text/javascript" src="~/Scripts/AngularJs/angular.min.js"></script>
<script type="text/javascript" src="~/Scripts/ag-grid.js"></script>
<script type="text/javascript" src="~/Scripts/Paging.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/ag-grid.css" />
<link rel="stylesheet" type="text/css" href="~/Content/theme-fresh.css" />*@


<div class="row">
    <div style="height:8%;">
        Page Size:
        <select ng-model="pageSize" ng-change="onPageSizeChanged()">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="100">100</option>
            <option value="1000">1000</option>
        </select>


    </div>
    <div style="padding:10px 15px 10px 35px; height:400px;width:50%">
        <div style="height:90%;" ag-grid="gridOptions" class="ag-fresh"></div>
        
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>



    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>